* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  header {
    background: #333;
    padding: 10px 0;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  header nav ul li a:hover {
    color: #928d8c;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .hero {
    background: url('slika2.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    color: white;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 25px;
    background: rgb(133, 131, 131);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #000;
  }
  
  #about, #services {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .service-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  footer {
    background: #333;
    color: #c0c0c0;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin: 0;
  }
  
  footer .social-icons {
    margin-top: 10px;
  }
  
  footer .social-icons a {
    color: #c0c0c0;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  footer .social-icons a:hover {
    color: #817b79;
  }
  #services {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  #services h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #services .services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .service-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  
  
  